*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html{ font-size: 16px;
    background-color: #D9D9D9;


}

h1,p{
    text-align: center;
    margin: 2rem ;
    font-weight: 800;
    justify-content: stretch;
    padding: 1rem;  
    
}

h1{
    font-size: 3rem;
}

p{
    color:black;
}
.about-image{
  background-image:url(images/cake-gd59c99d7c_1920.jpg); 
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;

 
}

#about {
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .column {
    margin: 10px;
  }

  
  .profile-pic {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .profile-pic:hover {
    transform: scale(1.1);
  }
  
  
  .profile-pic::before {
    content: "data-name";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .profile-pic:hover::before {
    opacity: 1;
  }
