*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html{ font-size: 16px;
    background-color: #D9D9D9;


}

h1,p{
    text-align: center;
    margin: 2rem ;
    font-weight: 800;
    justify-content: stretch;
    padding: 1rem;  
    
}

h1{
    font-size: 3rem;
}

p{
    color:black;
}
.about-image{
  background-image:url(images/cake-gd59c99d7c_1920.jpg); 
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;

 
}
.logo-1 {
    width: 125px;
    height: 125px;
    top: 0;
 
    position: absolute;
}
.header-1 {
    position: absolute;
    margin-left: 115px;
    padding: -1;
    padding-top: 13px;
}
.header-2 {
    position: absolute;
    margin-left: 410px;
    padding-top: 20px;


}
a {
    text-decoration: none;
}
.dropdown {
    float: right;
   
}

