*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html{ font-size: 16px;
    background-color: #D9D9D9;


}

nav{
    border-bottom: 1px solid #000;
    padding-bottom: 80px;
}

.BQ-h1, .about-us-story {
    text-align: center;
    margin: 2rem ;
    font-weight: 800;
 
}

.BQ-h1{
    font-size: 3rem;
}

.about-us-story {
    color: #000;
}
.about-image{
  background-image:url(images/cake-gd59c99d7c_1920.jpg); 
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  margin-bottom: 2rem;  

 
}
.logo-1 {
    width: 125px;
    height: 125px;
    top: 0;
 
    position: absolute;
}
.header-1 {
    position: absolute;
    margin-left: 115px;
    padding: -1;
    padding-top: 13px;
}
.header-2 {
    position: absolute;
    margin-left: 410px;
    padding-top: 20px;


}
a {
    text-decoration: none;
}
.dropdown {
    float: right;
    
   
}

#about {
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .column {
    margin: 10px;
  }

  
  .profile-pic {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .profile-pic:hover {
    transform: scale(1.1);
  }
  
  
  .profile-pic::before {
    content: "data-name";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .profile-pic:hover::before {
    opacity: 1;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  